<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <nb-card>
            <nb-card-header>
                <h5>
                    Pólizas | Formulario
                </h5>
            </nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">*Folio:</label>
                    <input formControlName="folio" type="text" nbInput fullWidth readonly>
                </div>
                <div>
                    <label class="label">*Nombre:</label>
                    <input formControlName="nombre" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('nombre')?.errors?.['required']">Nombre requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Dirección Particular:</label>
                    <input formControlName="direccionParticular" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('direccionParticular')?.touched && form.get('direccionParticular')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('direccionParticular')?.errors?.['required']">Dirección particular requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Colonia:</label>
                    <input formControlName="colonia" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('colonia')?.touched && form.get('colonia')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('colonia')?.errors?.['required']">Colonia requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Teléfono:</label>
                    <input formControlName="telefono" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('telefono')?.touched && form.get('telefono')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('telefono')?.errors?.['required']">Teléfono requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Población:</label>
                    <input formControlName="poblacion" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('poblacion')?.touched && form.get('poblacion')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('poblacion')?.errors?.['required']">Población requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Domicilio Cobro:</label>
                    <input formControlName="domicilioCobro" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('domicilioCobro')?.touched && form.get('domicilioCobro')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('domicilioCobro')?.errors?.['required']">Domicilio cobro requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Empresa:</label>
                    <input formControlName="empresa" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('empresa')?.touched && form.get('empresa')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('empresa')?.errors?.['required']">Empresa requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Teléfono Empresa:</label>
                    <input formControlName="telEmpresa" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('telEmpresa')?.touched && form.get('telEmpresa')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('telEmpresa')?.errors?.['required']">Teléfono empresa requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Calle Empresa:</label>
                    <input formControlName="calleEmpresa" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('calleEmpresa')?.touched && form.get('calleEmpresa')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('calleEmpresa')?.errors?.['required']">Calle empresa requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Vendedor:</label>
                    <input formControlName="vendedor" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('vendedor')?.touched && form.get('vendedor')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('vendedor')?.errors?.['required']">Vendedor requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Promotor:</label>
                    <input formControlName="promotor" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('promotor')?.touched && form.get('promotor')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('promotor')?.errors?.['required']">Promotor requerido*</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer style="display: flex; justify-content: flex-end;">
                <button nbButton status="primary" type="submit">Guardar</button>
                <button nbButton status="success" type="button" class="ms-2" (click)="finalizar()">Finalizar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</div>

<div>
    <form [formGroup]="formBeneficiario" (ngSubmit)="onSubmitBeneficiario()" novalidate>
        <nb-card>
            <nb-card-header>
                <h5>
                    Beneficiarios | Formulario
                </h5>
            </nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">*Beneficiario:</label>
                    <input formControlName="nombre" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('nombre')?.errors?.['required']">Beneficiario requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Edad:</label>
                    <input formControlName="edad" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('edad')?.touched && form.get('edad')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('edad')?.errors?.['required']">Edad requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Parentesco:</label>
                    <input formControlName="parentesco" type="text" nbInput fullWidth>
                    <div *ngIf="form.get('parentesco')?.touched && form.get('parentesco')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('parentesco')?.errors?.['required']">Parentesco requerido*</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer style="display: flex; justify-content: flex-end;">
                <button nbButton status="primary" type="submit">Guardar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</div>

<div>
    <app-custom-table
        tableHead="Beneficiarios | Tabla"
        keyRow="Id"
        [headers]="['#', 'Nombre', 'Edad', 'Parantesco']"
        [keys]="['Id', 'Nombre', 'Edad', 'Parantesco']"
        [data]="beneficiariosList"
        (editEmit)="editBeneficiario($event)"
        (deleteEmit)="deleteBeneficiario($event)">
    ></app-custom-table>
</div>
